#main-chart svg text { font-size: 10px; }
#main-chart .line path { fill: none; stroke-linecap: round; }
#main-chart .lines .line path { stroke: #000; stroke-width: 2px; }
#main-chart .lines .line.highlighted path,
#main-chart .lines-dotted .line.highlighted path { stroke-width: 4px; }
#main-chart .lines-dimmed .line { display: block; }
#main-chart .lines-dimmed .line path { stroke: #999; stroke-width: 1px; }
#main-chart .lines-dotted .line path { stroke: #666; stroke-width: 2px; }
#main-chart .lines .readout { stroke: none; font-weight: normal; font-size: 18px; letter-spacing: -0.05em; }
#main-chart .series.legend { cursor: pointer; }
#main-chart .series.legend.dimmed rect { fill: #999 !important; }
#main-chart .tick line { stroke: #000000; shape-rendering: crispedges; }
#main-chart .tick text { text-anchor: right !important; }
#main-chart .tick line.ruler { stroke: #efefef; }
#main-chart .tick.locked line.ruler { stroke: #666 !important; }
#main-chart .x.axis .tick line { stroke: #ccc; }
#main-chart .x.axis .tick text { font-size: 8px; fill: #999; }
#main-chart .x.axis .tick line.ruler { stroke: #ccc; display: none; }
#main-chart .y.axis .domain { display: none; }
#main-chart .y.axis .tick text { font-size: 9px; fill: #b3b3b3; }
#main-chart .y.axis .tick line { display: none; }
#main-chart .y.axis .tick line.ruler { display: block; }
#main-chart .labels { position: relative; top: 0; left: 0; z-index: -1; }
#main-chart .labels div.label {
  color: #444;
  background: #fcfcfc;
  font-size: 12px;
  padding: 0.5em 0.25em 0.5em 5.25em;
  margin: 0 0 0 -5em;
  min-width: 30em;
  width: 500px;
  position: absolute; top: -50px;
  /*border: 1px dotted red;*/ }
#main-chart .labels .label p {
  padding: 0;
  margin: 0; }
#main-chart .labels .label p.date {
  color: #999;
  background: #fcfcfc;
  font-size: 16px;
  font-weight: lighter;
  padding: 0.25em 0 0.25em 1em;
  margin-bottom: 0.25em;
  display: block;
  position: absolute; top: 1px; }
#main-chart .labels .label.locked p.date {
  color: #444; }
#main-chart .labels .label span.version {
  color: #fff;
  background-color: #999;
  font-size: 90%;
  padding: 0.25em 0.5em;
  margin: 0;
  border-radius: 0.5em; }
#main-chart .labels .label span.value {
  color: #444;
  background: #fcfcfc;
  font-size: 100%;
  padding: 0.25em 0.5em;
  margin: 0;
  top: 1px;
  position: relative; }
#main-chart .labels .label.missing p.metrics {
  color: #999;
  margin-top: 0.1em;
  padding-right: 0.3em;
}
