<div id="<%= id %>">
  <h3><%= title %></h3>
  <table>
    <tr>
      <td><canvas id="<%= id %>-chart"></canvas></td>
      <td style="vertical-align: top"><div id="<%= id %>-placeholder"></div></td>
    </tr>
  </table>
</div>
